[Unit]
Description=Hourly Timer
OnFailure=status-email-root@%n.service
PartOf=timer-xe.target
Before=timer-xe.target
RefuseManualStart=yes
RefuseManualStop=yes

[Timer]
OnBootSec=15min
OnUnitActiveSec=1h
Unit=timer-hourly.target
AccuracySec=5min

[Install]
WantedBy=timer-xe.target
