[Unit]
Description=Timer for event after successfull boot
OnFailure=status-email-root@%n.service
PartOf=timer-xe.target
Before=timer-xe.target
RefuseManualStart=yes
RefuseManualStop=yes

[Timer]
OnActiveSec=90s
Unit=timer-afterboot.target
AccuracySec=10min

[Install]
WantedBy=timer-xe.target
