[Unit]
Description=1-Minute Timer
OnFailure=status-email-root@%n.service
PartOf=timer-xe.target
After=timer-xe.target
RefuseManualStart=yes
RefuseManualStop=yes

[Timer]
OnUnitActiveSec=1min
Unit=timer-minute.target

[Install]
WantedBy=timer-xe.target
