[Unit]
Description=10-Minutes Timer
OnFailure=status-email-root@%n.service
PartOf=timer-xe.target
Before=timer-xe.target
RefuseManualStart=yes
RefuseManualStop=yes

[Timer]
OnBootSec=10min
OnUnitActiveSec=10min
RandomizedDelaySec=2min
AccuracySec=2min
Unit=timer-dmin.target

[Install]
WantedBy=timer-xe.target
